* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: 0;
    outline: 0;
    font-family: sans-serif;
}

:root {
    --color-text: #a8abe1c2;
    --dark1: #262626;
    --dark2: #353535;
    --dark3: #555;
    --dark4: #666;
    --dark5: #888;
    --dark6: #c6c6c6;
    --blue: #1c2f40;
    --blue2: #00437ed7;
}

a {
    all: unset;
}

header {
    width: 100%;
    background-color: var(--dark1);
    color: #fff;
}

#menu-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    position: fixed;
    top: 0;
    background-color: var(--dark1);
    z-index: 999;
}

#menu {
    background-color: var(--dark1);
    display: flex;
    gap: 20px;
}

.menu-item {
    cursor: pointer;
    text-transform: capitalize;
}

.open-label {
    display: none;
}

@media(max-width: 480px) {
    .open-label {
        display: block;
    }

    #menu {
        flex-direction: column;
        align-items: center;
        position: fixed;
        background-color: var(--dark2);
        top: 55px;
        right: -100%;
        color: #fff;
        padding: 20px;
        border-radius: 0 0 0 5px;
        transition: .4s;
    }

    #open-menu:checked~#menu {
        right: 0;
    }
}

#title {
    display: flex;
    margin: 65px auto 0 auto;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#title-text {
    text-transform: capitalize;
}

#title-text>h1 {
    font-size: 2.3em;
    margin-bottom: 10px;
}

#title-text>h2 {
    font-size: 2em;
}

#title-img {
    width: 40%;
}

@media(max-width: 576px) {
    #title-img {
        width: 100%;
    }

    #title {
        justify-content: center;
    }
}

#down-arrow {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 2.3em;
    margin-top: 10px;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.introduction {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.introduction>img {
    width: 50%;
    border-radius: 5px;
    box-shadow: 2px 2px 20px var(--dark1);
    filter: brightness(70%);
    overflow: hidden;
    transition: .3s;
    cursor: pointer;
}

.introduction>img:hover {
    transform: scale(1.04);
    filter: brightness(100%);
}

.description {
    padding: 10px;
    width: 50%;
    line-height: 30px;
}

.see-more {
    padding: 10px 30px;
    background-color: var(--blue2);
    color: #fff;
    border-radius: 3px;
    box-shadow: 3px 3px 20px var(--dark1);
    position: relative;
}

.see-more::after,
.see-more::before {
    content: '';
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    transition: .3s;
}

.see-more::after {
    bottom: 0;
    right: 0;
    border-bottom: 5px solid var(--blue);
    border-right: 5px solid var(--blue);
}

.see-more::before {
    top: 0;
    left: 0;
    border-top: 5px solid var(--blue);
    border-left: 5px solid var(--blue);
}

.see-more:hover::after,
.see-more:hover::before {
    width: 100%;
    height: 100%;
}

.introduction:nth-child(odd) {
    flex-direction: row-reverse;
}

@media(max-width: 576px) {
    .introduction {
        flex-direction: column;
    }

    .description {
        margin-top: 15px;
    }
}

/* Footer */
footer {
    background-color: var(--dark2);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.section-left-title {
    margin-bottom: 20px;
}

.section-left-list-item {
    margin: 10px 0;
    display: flex;
}

.section-left-list-item i {
    margin-right: 10px;
}

.section-middel-title {
    margin-bottom: 20px;
}

.section-middel-list-item {
    margin: 10px 0;
    display: flex;
}

.section-middel-list-item i {
    margin-right: 10px;
}

.about-right {
    width: 35%;
}
.socials{
    margin-top: 10px;
}
.socials-icon{
    display: flex;
    gap: 10px;
}

.social-box {
    padding: 10px;
    background-color: var(--dark5);
    font-size: 1.5em;
    border-radius: 5px;
    cursor: pointer;
}

.social-box:hover{
    background-color: var(--dark4);
}

@media(max-width: 480px){
    footer{
        flex-direction: column;
        gap: 20px;
    }

    .about-right{
        width: 100%;
    }
}